.blockquote {
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $basic-dark;
}

.blockquote__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.blockquote__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.blockquote__author-nickname {
  display: block;
  max-width: max-content;
  text-decoration: none;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: $basic-dark;
}
