.catalog {
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, min-content);
  }
}

.catalog__card {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    margin-bottom: 57px;
  }

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 51px;
    }
  }
}

.catalog__video {
  margin: 30px 30px 58px 30px;
}
