.catalog {
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, min-content);
    column-gap: 51px;
  }
}

.catalog__card {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    margin-bottom: 57px;
  }
}
