.categories-list {
  width: 100%;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.categories-list__item {
  min-height: 103px;

  @media (min-width: $tablet-width) {
    min-height: 119px;
  }
}

// .categories-list__item--interior {
//   background-color: $basic-blue;
// }

// .categories-list__item--toy {
//   background-color: $basic-blue;
// }

.categories-list__link {
  position: relative;
  display: block;
  padding: 24px 30px 31px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    height: 100%;
  }

  &::after {
    position: absolute;
    content: "";
    height: 62px;
    background-color: $icon-blue;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: 50% 0;
  }

  &:hover::after {
    background-color: $icon-blue-hover;
  }

  &:active::after {
    background-color: $icon-blue-active;
  }
}

.categories-list__link:hover {
  padding-bottom: 36px;
  margin-top: -5px;
}

.categories-list__link--interior {
  background-color: $basic-blue;

  &::after {
    top: 25px;
    right: 30px;
    width: 40px;
    mask-image: url("../img/stack.svg#lamp");
  }
}

.categories-list__link--interior:hover,
.categories-list__link--interior:active {
  background-color: $basic-blue-hover;
}

.categories-list__link--toy {
  background-color: $basic-extra-blue;

  &::after {
    top: 25px;
    right: 30px;
    width: 62px;
    mask-image: url("../img/stack.svg#toy");
  }
}

.categories-list__link--toy:hover,
.categories-list__link--toy:active {
  background-color: $basic-extra-blue-hover;
}


.categories-list__text {
  display: block;
  max-width: 130px;
}
