.contacts__title {
  margin: 0;
  padding: 0 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 62px;
  font-size: 14px;
  line-height: 30px;
  color: $basic-dark;
}

.contacts__email-row {
  min-width: 76px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__adress-row {
  min-width: 76px;
}

.contacts__email-link {
  text-decoration-style: solid;
  text-decoration-color: $basic-blue;
  text-underline-position: under;
  color: $basic-dark;
}

.contacts__email-link:hover {
  color: $basic-extra-blue-hover;
  text-decoration-color: $basic-blue-hover;
}

.contacts__email-link:active {
  text-decoration: none;
  color: $basic-extra-blue-hover;
}

.contacts__link {
  margin: 42px 30px 39px 30px;
}
