.features {
  padding: 31px 0;
}

.features__wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.features__title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  grid-template-rows: repeat(auto-fit, min-content);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width - 1px) {
    grid-template-columns: 1fr;
  }
}

.features__item {
  padding-top: 83px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.features__item:nth-of-type(2n + 2) {
  @media (max-width: 320px) {
    order: 1;
    padding-left: 0;
  }
}
