.features {
  padding: 31px 30px;
}

.features__title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list__item {
  padding-top: 83px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
