.feedback {
  padding-top: 58px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 82.5px;
    padding-bottom: 47px;
    margin-bottom: 85px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      margin-top: -82.5px;
      width: 350px;
      height: 457px;
      z-index: -1;
      left: 0;
      background-image: url("../img/index/review@1x.jpg");
      background-color: $feedback-bg-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 350px auto;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index/review@2x.jpg");
      }

      @media (min-width: $desktop-width) {
        top: 0;
        margin: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 78px;
    padding-bottom: 96px;
    margin-bottom: 67px;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: min-content min-content 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 174px;
    grid-template-rows: min-content min-content 57px;
  }
}

.feedback__title {
  margin: 0;
  padding: 14px 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 38.5px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.feedback__blockquote {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 175px;
    row-gap: 61px;
    grid-template-rows: min-content 58px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 44px;
    grid-template-rows: min-content 57px;
  }
}

.feedback__text {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.feedback__footer {
  padding-bottom: 30px;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    align-self: flex-start;
  }
}

.feedback__nav {
  @media (max-width: $tablet-width - 1px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 52px;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
    // align-self: flex-end;
    // padding-bottom: 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.feedback__button-previous {
  @media (min-width: $tablet-width) {
    margin-right: 37px;
  }
}

.feedback__button-previous,
.feedback__button-next {
  @media (max-width: $tablet-width - 1px) {
    justify-self: center;
  }

  position: relative;
  width: 50px;
  height: 26px;
  border: none;
  background-color: transparent;
}

.feedback__button-previous::before,
.feedback__button-next::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 26px;
  top: 0;
  left: 0;
}

.feedback__button-previous::before {
  background-image: url("../img/arrow-left.svg");
}

.feedback__button-next::before {
  background-image: url("../img/arrow-right.svg");
}

.feedback__button {
  @media (min-width: $tablet-width) {
    order: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }
}
