.feedback {
  padding: 13px 30px 51px 30px;
}

.feedback__title {
  margin: 0;
  padding: 14px 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.feedback__blockquote {
  margin: 0;
}

.feedback__button {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}
