.form-name__legend {
  display: block;
  // padding-top: 10px;
  // padding-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.form-name__list {
  list-style: none;

  @media (min-width: $desktop-width) {
    padding-right: 174px;
  }
}

.form-name__label {
  display: block;
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form-name__input {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 25px;
  }
}
