.form-preview__title {
  margin: 0 auto;
  text-align: center;
  padding: 73px 20px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.form-preview__description {
  padding: 4px 0 18px 0;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-left: 174px;
    margin-right: 171px;
    font-size: 17px;
    line-height: 30px;
  }
}
