.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form__fieldset--grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

.form__legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $basic-blue;

  @media (max-width: $tablet-width - 1px) {
    width: 100%;

    & span {
      display: flex;
    }

    & span::after {
      content: "";
      display: flex;
      align-self: center;
      flex-grow: 1;
      flex-shrink: 1;
      margin-left: 20px;
      height: 1px;
      width: 60%;
      background-color: $special-extra-blue;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
  }
}

// .form__legend-position {
//   @media (min-width: $tablet-width) {
//     position: absolute;
//     top: 66px;
//     left: 0;
//   }
// }

.form__input {
  display: block;
  width: 100%;
  padding: 16px 18px 18px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
  border: none;
  border-bottom: 2px solid $basic-black;
  box-sizing: border-box;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
  }
}

.form__input:hover,
.form__input:active {
  border-bottom: 2px solid $special-extra-blue;
}

.form__input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
}

.form__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form__list {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.form__title {
  display: block;
  margin: 0;
  padding: 17px 0 30px 0;
  font-size: 14px;
  line-height: 16px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
