.form-info__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $special-light;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.form-info__label {
  display: block;
  margin: 17px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
}

.form-info__label-center {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
}

.form-info__label-top {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.form-info__textarea--wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.form-info__label--phone {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 7px;
    top: 35px;
    width: 25px;
    height: 24px;
    background-color: $input-icon-color;
    mask-image: url("../img/phone.svg");

    @media (min-width: $tablet-width) {
      right: 26px;
      top: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 181px;
      top: 18px;
    }
  }
}

.form-info__label--email {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: 35px;
    width: 32px;
    height: 21px;
    background-color: $input-icon-color;
    mask-image: url("../img/mail.svg");

    @media (min-width: $tablet-width) {
      right: 22px;
      top: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 177px;
      top: 18px;
    }
  }
}

.form-info__label--email:hover::after,
.form-info__label--email:active::after,
.form-info__label--phone:hover::after,
.form-info__label--phone:active::after {
  background-color: $basic-blue;
}

.form-info__input {
  padding-right: 37px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    padding-right: 57px;
  }
}

.form-info__textarea {
  min-height: 142px;
  margin-top: 22.5px;
  padding: 16px 18px 18px 16px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 19px;
  line-height: 18px;
  color: $basic-dark;
  border: 2px solid $basic-dark;
  box-sizing: border-box;
  resize: vertical;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form-info__textarea:hover,
.form-info__textarea:focus  {
  border: 2px solid $special-extra-blue;
}
