.info {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 112px;
    align-items: center;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 312px;
  }
}

.info__link:hover .info__logo {
  fill: $basic-extra-blue-hover;
}

.info__link:active .info__logo {
  fill: $social-icon-active;
}

.info__logo {
  @media (max-width: $tablet-width - 1px) {
    position: fixed;
    transform: scale(0);
  }
}

.info__list {
  margin: 0;
}
