.info {
  padding: 0 30px;
  background-color: $special-light;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 3fr 6fr 4fr;
    align-items: center;
    min-height: 143px;
    padding: 0 50px;
  }
}

.info__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.info__list {
  margin: 0;
}
