.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 82px 1.6fr;
    grid-template-rows: 89px 65px;
  }
}

.main-nav__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 82px 1.6fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }
}

.main-nav__catalog {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.main-nav__order {
  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.main-nav__link-search {
  @media (min-width: $tablet-width) {
    order: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
}

.main-nav__link-basket {
  @media (min-width: $tablet-width) {
    order: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
  }
}
