.main-nav__wrapper {
  display: grid;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 82px 1.6fr;
    grid-template-rows: 89px 65px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.6fr 82px 1.44fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 0;
  z-index: 2;
  display: block;
  width: 21px;
  height: 20px;
  background-color: $basic-white;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 14px;
  background-image: url("../img/toggle-closed.svg");
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .main-nav__link {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .main-nav__link {
    display: block;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 20px;
  background-image: url("../img/toggle-opened.svg");
}

.main-nav__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 82px 1.6fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }
}

.main-nav__list-inside {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    // grid-template-rows: 89px 65px;
    // align-items: flex-end;
  }
}

.main-nav__new {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.main-nav__sale {
  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 36px;
  }
}

.main-nav__catalog {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 89px 65px;
  }
}

.main-nav__catalog-link {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
  }
}

.main-nav__order {
  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
  }
}

.main-nav__link-search {
  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;

    span {
      position: absolute;
      opacity: 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.main-nav__link-basket {
  position: relative;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.main-nav__link-basket::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 21px;
  height: 18px;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 50% 50%;
  mask-image: url("../img/stack.svg#icon-cart");
  background-color: $special-icon-gray;
}

.main-nav__link-basket:hover::before {
  background-color: $basic-blue;
}

.main-nav__link-basket:active::before {
  background-color: $icon-menu-blue-active;
}
