.order-link {
  display: block;
  padding: 14px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $basic-dark;
  background-color: $basic-white;
  text-decoration: none;
  border: 2px solid $basic-dark;
}

.order-link:hover {
  color: $basic-white;
  background-color: $basic-dark;
  border: 2px solid $basic-dark;
}

.order-link:active {
  color: $basic-white-active;
  background-color: $basic-dark;
  border: 2px solid $basic-dark;
}
