.page-header {
  min-height: 79px;
  box-sizing: border-box;
  border-bottom: 1px solid $basic-light;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 82px 1.6fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.6fr 82px 1.44fr;
    grid-template-rows: 89px 65px;
    align-items: center;
  }
}

.page-header__logo {
  display: block;
  text-align: center;
  padding: 22px 30px 22px 46px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.page-header__subtitle {
  margin: 0;
  padding: 20.5px 50px 20px 76px;
  font-size: 15px;
  line-height: 24px;
  color: $basic-dark;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    opacity: 0;
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
