.page-main__wrapper {
  height: 177px;
  background-color: $special-light;
  box-sizing: border-box;
}

.page-main__title {
  margin: 0 auto;
  text-align: center;
  padding: 73px 20px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
}

.page-main__list {
  margin: 0;
  padding: 0;
}
