.page-header {
  min-height: 79px;
  box-sizing: border-box;
  border-bottom: 1px solid $basic-light;
}

.page-header__logo {
  display: block;
  text-align: center;
  padding: 22px 30px 22px 76px;
}

.page-header__subtitle {
  margin: 0;
  padding: 20.5px 50px 20px 76px;
  font-size: 15px;
  line-height: 24px;
  color: $basic-dark;
}
