.site-link {
  display: block;
  min-height: 79px;
  padding: 29.5px 10px 26.5px 53px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    position: relative;
    padding: 27.5px 10px 24.5px 46px;


    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -30px;
      display: block;
      width: 320px;
      height: 1px;
      background-color: $basic-light;
    }
  }
}

.site-link:hover {
  color: $special-dark-hover;
}

.site-link:active {
  color: $special-dark-active;
}
