.site-link {
  display: block;
  min-height: 79px;
  padding: 29.5px 10px 26.5px 53px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  text-decoration: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.site-link:hover {
  color: $special-dark-hover;
}

.site-link:active {
  color: $special-dark-active;
}
