.site-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.site-list__item-link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }
}
