.video {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $basic-light;
  border-bottom: 1px solid $basic-light;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 4fr 2fr;
    column-gap: 79px;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.video__title {
  position: relative;
  align-self: flex-start;
  margin: 0;
  padding: 21.5px 13px 26.5px 91px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 41px 13px 25px 107px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 110px 27.5px 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 34px;
    top: 35px;
    width: 32px;
    height: 22px;
    background-color: $basic-blue;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: 50% 50%;
    mask-image: url("../img/stack.svg#icon-video");

    @media (min-width: $tablet-width) {
      left: 42px;
      top: 39px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
      top: 47px;
    }
  }
}

.video__preview {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-right: 17px;
  }
}

.video__link {
  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.video__image {
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }
}

.video__description {
  margin: 0;
  padding: 35px 0 34px 41px;
  font-size: 13px;
  line-height: 24px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 0;
    max-width: 586px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.video__button {
  margin-bottom: 33px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 3;
    min-width: 584px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    min-width: 230px;
    height: 52px;
  }
}
