$basic-black: #000000;
$basic-white: #ffffff;
$basic-white-active: rgba(256, 256, 256, 0.3);
$basic-dark: #444444;
$basic-light: #ececec;
$basic-extra-light: #e5e5e5;
$basic-blue: #63d1bb;
$basic-blue-hover: #59d5bc;
$basic-extra-blue: #56c3b2;
$basic-extra-blue-hover: #46c1ae;
$special-icon-gray: rgba(0, 0, 0, 0.2);
$special-dark: rgba(0, 0, 0, 0.1);
$special-dark-hover: rgba(0, 0, 0, 0.6);
$special-dark-active: rgba(0, 0, 0, 0.3);
$special-light: #f1f1f1;
$special-extra-blue: #62d1ba;
$icon-blue: rgba(20, 144, 128, 0.5);
$icon-blue-hover: rgba(20, 144, 128, 0.7);
$icon-blue-active: rgba(20, 144, 128, 0.3);
$icon-menu-blue-active: rgba(99, 209, 187, 0.3);
$icon-extra-blue: rgb(53, 169, 153);
$border-gray: #c7c7c7;
$mail-hover: #46c1ae;
$play-btn-active: rgb(208, 241, 235);
$map-pointer: rgb(107, 198, 179);
$logo-hover: #666666;
$logo-active: #b3b3b3;
$social-icon-active: rgba(70, 193, 174, 0.3);
$input-icon-color: #c1c1c1;
$social-icon-color: #231F20;
