  $basic-black: #000000;
  $basic-white: #ffffff;
  $basic-white-active: rgba(256, 256, 256, 0.3);
  $basic-dark: #444444;
  $basic-light: #ECECEC;
  $basic-extra-light: #E5E5E5;
  $basic-blue: #63D1BB;
  $basic-blue-hover: #59D5BC;
  $basic-extra-blue: #56C3B2;
  $basic-extra-blue-hover: #46C1AE;

  $special-icon-gray: rgba(0, 0, 0, 0.2);
  $special-dark: rgba(0, 0, 0, 0.1);
  $special-dark-hover: rgba(0, 0, 0, 0.6);
  $special-dark-active: rgba(0, 0, 0, 0.3);
  $special-light: #F1F1F1;
  $special-extra-blue: #62D1BA;
  $icon-blue: rgba(20, 144, 128, 0.5);
  $icon-blue-hover: rgba(20, 144, 128, 0.7);
  $icon-blue-active: rgba(20, 144, 128, 0.3);
  $icon-menu-blue-active: rgba(99, 209, 187, 0.3);
  $icon-extra-blue: rgb(53,169,153);
  $border-gray: #c7c7c7;
  $mail-hover: #46C1AE;
  $play-btn-active: rgb(208,241,235);
  $map-pointer: rgb(107,198,179);
  $logo-hover: #666666;
  $logo-active: #b3b3b3;
  $social-icon-active: rgba(70, 193, 174, 0.3);
